*{
    margin: 0;  
    padding: 0;
  }
.banner{
      width: 100%;
      height: 100vh;
      background: linear-gradient(rgba(0,0,0,0.7),rgb(170, 159, 57)),url("images/logo.png");
     overflow: hidden;
 }
.banner .carousel{
      width: 300px;
      margin: 100px auto 0;
      overflow: visible;
 }
.carousel img{
    border-radius: 20%;
    -webkit-box-reflect: below 10px linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3));
  }
 p{
    font-size: 2em;
  }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
.iframe__container{
    width: 80%;
    position: relative;
  }
.iframe__container::after{
      content:"";
      display: block;
      width: 100%;
      padding-bottom: calc(315/560+100%);
  }
.ecriture{
    background-color: rgb(170, 159, 57);
  }
footer{
    background-color: #675afe;
    text-align: center;
    padding: 10px 0;
    color: #fff;
  }
h1{
    font-size: 2.6rem;
  }
h2{
    font-size: 4.8rem;
  }
h3{
    font-size: 3rem;
  }
h4 ,h5{
    font-size: 2.8rem;
  }
li{
    font-size: 2rem;
  }
a{
    color: #ffffff;
    text-decoration: none;
  }
  /*HEADER*/
  
.main-head{
    background: #675afe;
    color: #ffffff;
  }
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
  }
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
#logo{
    flex: 2 1 40rem;
  }